# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\CT208_TaiLieu\chandoanbenhbeophi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
